.container table .is-centered {
    text-align: center;
}

.flex {
    display: flex;
}

.mr-20 {
     margin-right: 20px; 
}

.percent {
    margin-left: 4px;
}




/* PROJECT BUTTONS */

#project {
    margin-bottom: 20px;
}

#project input,
#project select {
    color: #333;
}

#project-name {
    width: 300px;
}

#project-name::placeholder {
    color: #aaa;
}

/* STAMME */

div.stamme-container button.fill {
    margin: -16px 0 0 40px;
}

table.stamme {
    margin-left: 4px;
}

table.stamme {
    border: 8px solid rgba(0, 0, 0, 0.5);
    margin-top: -7px;
}

table.stamme tr th {
    color: #111;
    background-color: #fff;
    text-align: center;
    width: 16px;
}

table.stamme tr td{
    color: #fff;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    width: 16px;
    cursor: pointer;
}

table.stamme td.selected {
    color: #111;
} 


/* FILTER */

table.filter {
    margin-left: 4px;
    width: 60px;
}

table.filter tr th {
    text-align: center;
    width: 20px;
}

table.filter tr td {
    text-align: center;
    font-weight: bold;
    width: 20px;
    color: #3a3f44;
    cursor: pointer;
}

table.filter td.selected {
    color: #aaa;
} 

table.filter tr.min-max td {
    font-size: 0.75em;
    color: #aaa;
    text-align: left;
}



